

<div class="new_message">

	<div class="home">
		<div class="text_left1">
			<strong><%= t("you") %></strong>
		</div>
		<div class="text_left2"><%= t("page_description") %>
		</div>
		<div class="text_left1">
			<strong><%= t("thanks") %></strong>
		</div>
	</div>	

	

	<%= form_for([@post]) do |f| %>
	<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  	<% end %>
	<table>
		<tbody>
			<tr><h2><%= t("write_new_message") %></h2></tr>
			<tr>
				<td><%= t("author") %></td>
				<td><%= f.text_field :username %></td>
			</tr>
			<tr>
				<td><%= t("title") %></td>
				<td><%= f.text_field :title %></td>
			</tr>
			<tr>
				<td><%= t("message") %></td>
				<td><%= f.text_area :content %></td>
			</tr>
			<tr>
				<td></td>
				<td><%= f.submit t("save_message") %></td>
			</tr>
		</tbody>	
	</table>
	<% end %>
</div>


<% @posts.each do |post| %>
<div class="message_with_answers">
	<div class="message">
		<div class="title_bar">
			<div class="title">
				<strong><%= t("title_of_message") %></strong> <%= post.title %>
			</div>
			<div class="message_tag"><%= t("message") %></div>
			<div class="answer_to_message"><%= link_to t("answer_to_message"),  new_post_post_answer_url(:post_id => post.id) %></div>
		</div>
		<div class="contour_message">
			<div class="message_author">
				<h2><%= post.created_at.strftime("%d") %>.<%= post.created_at.strftime("%m") %></h2>
				<h2><strong><%= post.created_at.strftime("%Y") %></strong></h2>
				<%= t("by") %>
				<p><strong><%= post.username %></strong></p>
			</div>
			<div class="message_content"><%= post.content %>
			</div>
		</div>
	</div>
	<% post.post_answers.each do |post_answer| %>
	<div class="answer">
		<div class="answer_author">
			<h2><%= post_answer.created_at.strftime("%d") %>.<%= post_answer.created_at.strftime("%m") %></h2>
				<h2><strong><%= post_answer.created_at.strftime("%Y") %></strong></h2>
				 by <p><strong><%= post_answer.username %></strong></p>
			<div class="answer_tag"><%= t("answer") %></div>
		</div>
		<div class="answer_content"><%= post_answer.content %>
		</div>
	</div>
	<% end %>
</div>
<% end %>