<% @posts.each do |post| %>
<div class="message_with_answers">
	<div class="message">
		<div class="title">
			<strong>Titre du message:</strong> <%= post.title %>
			<div class="answer_to_message"><%= link_to "Répondre à ce message",  new_mariage_post_post_answer_url(:post_id => post.id) %></div>
		</div>
		<div class="message_author">
			<strong><%= post.username %></strong> a écrit le <%= post.created_at %>
			<div class="message_tag">Message</div>
		</div>
		<div class="message_content"><%= post.content %>
		</div>
	</div>
	<% post.post_answers.each do |post_answer| %>
	<div class="answer">
		<div class="answer_author">
			<strong><%= post_answer.username %></strong> a écrit le <%= post_answer.created_at %>
			<div class="answer_tag">Réponse</div>
		</div>
		<div class="answer_content"><%= post_answer.content %>
		</div>
	</div>
	<% end %>
</div>
<% end %>
<table>
	<tr>
		<th>Title</th>
    	<th>Comment</th>
   		<th>By</th>
  	</tr>
  	
  	<% @posts.each do |post| %>
	<tr>
    	<td><%= post.title %></td>
    	<td><%= post.content %></td>
    	<td><%= post.username %></td>
    	<td><%= link_to "Answer",  new_mariage_post_post_answer_url(:post_id => post.id) %></td>
  	</tr>
  	<tr>
  		<td>
  			<table border= 1px solid black>
	  			<tr>
	    			<th>Answer</th>
	    			<th>By</th>
	  			</tr>
	
				<% post.post_answers.each do |post_answer| %>
		  		<tr>
		    		<td><%= post_answer.content %></td>
		    		<td><%= post_answer.username %></td>
		  		</tr>
				<% end %>
			</table>
		</td>
	</tr>
	<% end %>	
</table>


<%= form_for([:mariage, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

