<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @post_answer.content %>
</p>

<p>
  <b>Username:</b>
  <%= @post_answer.username %>
</p>

<p>
  <b>Post:</b>
  <%= @post_answer.post_id %>
</p>


<%= link_to 'Edit', edit_post_answer_path(@post_answer) %> |
<%= link_to 'Back', post_answers_path %>
