<!DOCTYPE html>
<html>
<head>
  <title><%= t(:website_title) %> | <%= t(@page_title)%></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= link_to image_tag("PL_flag.png", :border=>0), :locale => 'pl'%>
<%= link_to image_tag("FR_flag.png", :border=>0), :locale => 'fr'%>
<%= link_to t("home"), mariage_home_path %>
<%= link_to t("accomodation"), mariage_accomodation_path %>
<%= link_to t("program"), mariage_program_path %>
<%= link_to t("contact"), mariage_contact_path %>

<%= yield %>

</body>
</html>
