<!DOCTYPE html>
<html>
	<head>
	  	<title><%= t(:website_title) %> | <%= t(@page)%></title>
		<%= render 'layouts/stylesheets' %>
	 	<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="page">
			<header>
				<% logo = image_tag("logo.png", :alt => t("home"), id => "logo") %>
				<%= link_to logo, home_path %>
				<div id="flags">
					<ul>
						<li><%= link_to image_tag("PL_flag.png", :border=>0), :locale => 'pl'%></li>
						<li><%= link_to image_tag("FR_flag.png", :border=>0), :locale => 'fr'%></li>
					</ul>
				</div>
				<nav class="round">
					<ul>
						<li><%= link_to t("home"), home_path %></li>
						<li><%= link_to t("program"), program_path %></li>
						<li><%= link_to t("accomodation"), accomodation_path %></li>
						<li><%= link_to t("contact"), contact_path %></li>
					</ul>
				</nav>
			</header>
			<div id="main" >
				<div id="descriptionLeft" class="round">
					<p><%= t("description_left") %></p>
				</div>
				<div id="content" class="round">
				<% if !notice.nil? %>
				<div class="notice"><%= notice %></div>
				<% end %>
				<% if !alert.nil? %>
				<div class="alert"><%= alert %></div>
				<% end %>
					<%= yield %>
				</div>
			</div>
			
			
			
			<footer>
			  <nav class="round">
			    <ul>
			      <li><%= link_to t("home"), home_path %></li>
			      <li><%= link_to t("program"), accomodation_path %></li>
			      <li><%= link_to t("accomodation"), program_path %></li>
			      <li><%= link_to t("contact"), contact_path %></li>
			    </ul>
			    <p>Our wedding website, copyright D&D</p>
			  </nav>
			  
			</footer>
		</div>
	</body>
</html>
